body {
    font-family: Arial, sans-serif;
    background-color: #e2ebe7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('image/back.jpeg'); /* Add your image URL */
    background-size: cover; /* Makes the image cover the whole page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
}

.container {
    background-color: whitesmoke;
    padding: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    border-radius: 10px;
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c7c7c9;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 10px;
    background:  blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: blue;
    text-decoration: none;
}
